[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-functions = "*"
azure-cosmos = "*"
pymongo = "*"
azure-cli-core = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
